.backgroundProfile {
  height: 320px;
  background: no-repeat center/100% 100% url(../../../public/promoProfile.png);
  color: white;
  display: flex;
  align-items: center;
}

.backgroundProfile > h2 {
  margin-left: 11%;
}

.historyImage {
  height: 223px;
  width: 230px;
  margin-right: 10px;
}

.profileContainer {
  width: 80%;
  margin: 30px auto;
  display: flex;
}

.profileNavigation {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5% 18% 0 0;
}

.profileNavigation > h3 {
  color: gray;
  cursor: pointer;
}

.profileNavigation > .activeNav {
  color: black;
}

.historyContainer {
  display: flex;
}

.historyTitleContainer {
  display: flex;
  flex-direction: column;
}

.textStyle {
  width: 420px;
  margin-bottom: 10px;
  cursor: pointer;
}

.historyInfoTitle {
  width: 370px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
}

.profileHistoryBtns {
  width: 54%;
  display: flex;
  justify-content: space-between;
}

.downloadBtn {
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  background-color: #1a1a1a;
  color: #efefef;
  margin-bottom: 20px;
}

.downloadBtnApk {
  background-color: #efefef;
  color: #1a1a1a;
}

.downloadBtnApkMobile {
  display: none;
}

.downloadBtnMobile {
  display: none;
}

.formcontainer {
  width: 43vw;
  display: flex;
  justify-content: space-between;
}

.blockForm {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blockForm > input {
  width: 20vw;
  outline: none;
  border: none;
  border-bottom: 2px solid #808080;
  padding-left: 10px;
  font-size: 15px;
}

.blockForm > input:focus {
  border-bottom: 2px solid #000000;
}

.changePasswordBtn {
  cursor: pointer;
  border: none;
  background-color: #efefef;
  color: #1a1a1a;
  padding: 8px 15px;
}

.downTitleProfile {
  margin-bottom: 10px;
}

.saveChangesContainer {
  width: 43vw;
  display: flex;
  justify-content: center;
  margin: 10% 0 12% 0;
}

.saveChangesBtn {
  cursor: pointer;
  border: none;
  background-color: #1a1a1a;
  color: #efefef;
  padding: 9px 15px;
}

.mobile {
  flex-direction: column;
}

.mobileNav {
  width: 100%;
  flex-direction: column;
}

.mobileNav h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentContainer {
  margin-top: 20px;
  width: 100%;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.mobileHistoryContainer {
  display: flex;
}

@media (min-width: 1024px) and (max-width: 1050px) {
  .textStyle {
    width: 400px;
  }

  .historyImage {
    height: 250px;
  }
}

@media (min-width: 260px) and (max-width: 1024px) {
  .backgroundProfile {
    background: no-repeat center/100% 100% url(../../../public/blackBg.png);
  }

  .profileNavigation {
    height: auto;
  }

  .profileNavigation > h3 {
    margin-bottom: 5%;
  }

  .formcontainer {
    width: auto;
    flex-direction: column;
  }

  .blockForm {
    height: auto;
  }

  .blockForm > input {
    width: auto;
    margin-bottom: 30px;
  }

  .saveChangesContainer {
    width: auto;
    justify-content: flex-start;
    margin: 0 0 30px 0;
  }

  .changePasswordBtn {
    width: 100%;
  }

  .saveChangesBtn {
    width: 100%;
  }
}

@media (min-width: 260px) and (max-width: 600px) {
  .mobileHistoryContainer {
    flex-direction: column;
  }

  .historyContainer {
    flex-direction: column;
  }

  .historyTitleContainer {
    flex-direction: column;
  }

  .textStyle {
    width: auto;
  }

  .downTitleProfile {
    width: 231px;
  }

  .historyImage {
    height: auto;
    width: auto;
  }

  .historyInfoTitle {
    width: auto;
    flex-direction: column;
  }

  .profileHistoryBtns {
    width: auto;
    flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 775px) {
  .historyContainer {
    flex-direction: column;
  }

  .historyTitleContainer {
    margin-top: -25px;
  }

  .downTitleProfile {
    width: 76%;
  }

  .textStyle {
    width: 280px;
  }

  .historyInfoTitle {
    width: 280px;
    flex-direction: column;
  }
  .downloadBtn,
  .downloadBtnApk {
    display: none;
  }

  .profileHistoryBtnsMobile {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .downloadBtnMobile {
    display: block;
    width: 49%;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    background-color: #1a1a1a;
    color: #efefef;
    margin-bottom: 20px;
  }

  .downloadBtnApkMobile {
    background-color: #efefef;
    color: #1a1a1a;
  }
}
