.cartWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.cartContainer {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.cartTitle {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.closeImage {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-top: 10px;
}

.cartInfoContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cartInfoContainer:last-child {
  margin-bottom: 100px;
}

.cartImages {
  width: 152px;
  aspect-ratio: 8/9;
}

.productsContent::-webkit-scrollbar {
  display: none;
}

.priceDeleteContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.deleteCartProduct {
  cursor: pointer;
  color: #6b6b6b;
  text-decoration: underline;
}

.cartCardsContent {
  width: 370px;
}

.buyContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: #1a1a1a;
}

.priceWrap {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  color: #efefef;
}

.buyBtnWrap {
  width: 90%;
  margin: 0 auto;
}

.buyBtnWrap > button {
  cursor: pointer;
  width: 100%;
  padding: 13px 15px;
  background-color: #efefef;
  color: #1a1a1a;
}

@media (min-width: 1024px) {
  .productsContent {
    height: 77%;
    overflow-x: auto;
  }
}

@media (min-width: 500px) and (max-width: 1024px) {
  .cartInfoContainer {
    justify-content: normal;
  }

  .cartInfoContainer:last-child {
    margin-bottom: 0;
  }

  .cartImages {
    height: 180px;
    width: 180px;
    margin-right: 12px;
  }

  .cartContainer::after {
    content: "";
    display: block;
    height: 150px;
  }

  .buyContainer {
    position: fixed;
    bottom: 0;
  }
}

@media (min-width: 260px) and (max-width: 500px) {
  .cartWrapper {
    display: none;
  }

  .cartContainer {
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }

  .cartContainer::after {
    content: "";
    display: block;
    height: 150px;
  }

  .cartTitle {
    margin: 10px;
  }

  .cartInfoContainer {
    flex-direction: column;
    align-items: center;
  }

  .cartInfoContainer:last-child {
    margin-bottom: 0;
  }

  .cartImages {
    height: auto;
    width: 100%;
    margin-bottom: 10px;
  }

  .priceDeleteContainer {
    align-items: center;
    margin-bottom: 10px;
  }

  .deleteCartProduct {
    margin-top: 10px;
  }

  .buyContainer {
    height: auto;
    padding: 10px;
  }

  .buyBtnWrap {
    margin-top: 10px;
  }

  .buyContainer {
    position: fixed;
    bottom: 0;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
  }

  .cartCardsContent {
    width: auto;
  }
}
