.categoriesContainerAdmin {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

h2 {
  margin: 20px 0;
}

.categoriesAdminProd {
  margin: 0 auto;
  width: 56%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.category-btn {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.category-btn.active {
  background-color: #000000;
  color: #ffffff;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card {
  cursor: pointer;
  width: 18%;
  overflow: hidden;
  text-align: left;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title h4 {
  margin: 0 0 5px 0;
  font-size: 16px;
  color: #000;
}

.product-title p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.addProductAdmin {
  position: fixed;
  top: 90%;
  left: 37%;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #1a1a1a;
  color: #efefef;
  padding: 15px 10%;
}

@media (min-width: 1024px) and (max-width: 1286px) {
  .categoriesAdminProd {
    width: 740px;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
  }
}

.containerAddProduct {
  width: 45%;
  margin: 4% auto;
  display: flex;
  gap: 6%;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.upload-btn {
  background-color: transparent;
  border: none;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  padding: 50px 50px;
  margin-bottom: 20px;
}

.file-input {
  display: none;
}

.image-preview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.preview-image {
  height: 200px;
  max-width: 230px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.input-field {
  border: none;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
}

.description-field {
  resize: vertical;
}

.discount-group {
  margin-bottom: 20px;
}

.titleAdmin {
  margin-bottom: 10px;
  font-size: 20px;
}

.discount-buttons {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.discount-btn {
  background-color: #f0f0f0;
  color: black;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.discount-btn.active {
  background-color: black;
  color: white;
}

.save-btn {
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
}
