.catlogContainer {
  width: 80%;
  margin: 0 auto;
}

.catalogInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3%;
}

.catalogCards {
  width: 24%;
  margin-top: 30px;
}

.catalogImage {
  width: 100%;
}

.addBasketCategor {
  cursor: pointer;
  border: none;
  background-color: #1a1a1a;
  color: #efefef;
  font-size: 12px;
  padding: 8px 15px;
  margin-top: 10px;
}

.lazyLoadBtn {
  display: flex;
  justify-content: center;
  margin: 50px 0px 30px 0px;
}

.lazyLoadBtn > button {
  cursor: pointer;
  border: none;
  background-color: #1a1a1a;
  color: #efefef;
  padding: 9px 15px;
}

@media (min-width: 607px) and (max-width: 900px) {
  .catalogCards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
  }
}

@media (min-width: 260px) and (max-width: 607px) {
  .catlogContainer {
    width: 90%;
  }

  .catalogInfo {
    gap: 3%;
  }

  .catalogCards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
  }
}
