.answersContainer {
  width: 80%;
  margin: 0 auto;
}

.answersTitle {
  margin: 50px 0px 50px 0px;
}

.answersBlockContainer {
  display: flex;
  justify-content: space-between;
}

.leftBlockTitle {
  margin: 5px 0px 20px 0px;
}

.answersNavigation {
  height: 200px;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 18%;
}

.answersNavigation > h3 {
  color: gray;
  cursor: pointer;
}

.answersNavigation > .activeNav {
  color: black;
}

.answersLeftBlock {
  width: 60%;
}

.answersCards {
  border-top: 1px solid gray;
  padding: 15px 0px 15px 0px;
  position: relative;
}

.answersCardsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.answersContent {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(100%);
  color: rgb(92, 92, 92);
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  padding-bottom: 20px;
}

.answersCards.expanded .answersContent {
  transform: translateY(0);
}

.answersCards .answersContent p {
  margin: 0;
}

.answersCards:nth-child(8) {
  margin-bottom: 40px;
}

.helpAnswersTitle {
  margin: 5px 0px 20px 0px;
}

.contactAnswersBtn {
  cursor: pointer;
  border: none;
  background-color: #1a1a1a;
  color: #efefef;
  padding: 8px 15px;
  margin-bottom: 20px;
}

.arrow {
  height: 8px;
  width: 15px;
  transition: transform 0.3s ease-in-out;
}

.rotated {
  transform: rotate(180deg);
}

.mar {
  margin-bottom: 10%;
}

@media (min-width: 660px) and (max-width: 864px) {
  .answersContent {
    top: 40%;
  }
  .mar {
    margin-bottom: 13%;
  }
}

@media (orientation: landscape) and (min-height: 300px) and (max-height: 400px) {
  .answersContent {
    top: 35%;
  }

  .mar {
    margin-bottom: 22%;
  }
}

@media (min-width: 460px) and (max-width: 660px) {
  .answersContent {
    top: 30%;
  }
  .mar {
    margin-bottom: 25%;
  }
}

@media (min-width: 260px) and (max-width: 460px) {
  .answersContent {
    top: 40%;
  }

  .mar {
    margin-bottom: 50%;
  }
}

@media (min-width: 1024px) and (max-width: 1286px) {
  .answersContent {
    top: 40%;
  }

  .mar {
    margin-bottom: 20%;
  }
}

@media (min-width: 260px) and (max-width: 1024px) {
  .answersLeftBlock {
    width: 100%;
  }
}
