.changeContainer {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeForm {
  width: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.changeForm > div > input {
  height: 40px;
  width: 350px;
  margin-bottom: 10px;
  border: none;
  background-color: #f0f0f0;
}

.changeForm > div > p {
  text-align: left;
  margin-bottom: 10px;
}

.saveChangesBtn {
  height: 40px;
  margin-top: 30px;
}
