.background {
  height: 500px;
  background: no-repeat center/100% 100% url(../../../public/mainImage.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background > p {
  font-size: 37px;
  color: white;
}

.mainBackgroundBtns {
  width: 13.5%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.mainBackgroundBtns > button {
  cursor: pointer;
  padding: 7px 30px;
  background-color: #efefef;
  color: #1a1a1a;
  border: none;
}

.mainBackgroundBtns > .playBtnBackground {
  background-color: #bdbdbd;
}

.mainPageContainer {
  width: 80%;
  margin: 0 auto;
}

.mainText {
  width: 45%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mainText > h2 {
  margin-bottom: 20px;
}

.choiceTitle {
  font-size: 36px;
}

.choiceApp {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.basketBtn {
  cursor: pointer;
  display: none;
  width: 94%;
  position: absolute;
  left: 3%;
  bottom: 22%;
  background-color: #efefef;
  color: white;
  border: none;
  padding: 10px;
  color: #1a1a1a;
}

.choiceLike {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 1%;
  left: 90%;
  height: 24px;
  width: 24px;
}

.definiteApp {
  line-height: 22px;
  position: relative;
}

.appBackground {
  height: 80%;
  width: 19vw;
}

.appBackground:hover ~ .basketBtn {
  display: block;
}

.appBackground:hover ~ .choiceLike {
  display: block;
}

.searchAll {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.searchAppBtn {
  cursor: pointer;
  padding: 7px 15px;
  border: none;
  background-color: #1a1a1a;
  color: #efefef;
}

.centeredText {
  height: 90px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.centeredText > h4 {
  width: 44%;
  text-align: center;
}

.saleImage {
  width: 100%;
  margin: 50px 0px 50px 0px;
}

.hint {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.hintImage {
  height: 80%;
  width: 25.5vw;
}

.titleWeAdd {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.weAddPromoText {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.weAddPromoText > p {
  margin: 20px 0px 20px 0px;
}

.ownBlock {
  display: flex;
  align-items: center;
  text-align: center;
}

.ownImage {
  height: 80%;
  width: 39.6vw;
}

.ownTitle {
  height: 20vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ownBtn {
  cursor: pointer;
  border: none;
  padding: 8px 15px;
  background-color: #1a1a1a;
  color: #efefef;
}

.addBasketMobile {
  cursor: pointer;
  border: none;
  background-color: #1a1a1a;
  color: #efefef;
  padding: 8px 15px;
  margin-top: 10px;
}

@media (min-width: 1024px) and (max-width: 1286px) {
  .ownImage {
    width: 39.3vw;
  }

  .playBtnBackground {
    margin-left: 10px;
  }
}

@media (min-width: 260px) and (max-width: 1024px) {
  .background {
    background: no-repeat center/100% 100% url(../../../public/mobileMainBg.png);
  }

  .background > p {
    text-align: center;
  }

  .mainBackgroundBtns {
    width: auto;
  }

  .mainBackgroundBtns > .playBtnBackground {
    margin-left: 10px;
  }

  .mainText {
    width: auto;
  }

  .mainText > h2 {
    font-size: 17px;
  }

  .choiceTitle {
    font-size: 22px;
  }

  .choiceApp {
    overflow-x: auto;
  }

  .choiceApp::-webkit-scrollbar {
    display: none;
  }

  .appBackground {
    height: 216px;
    width: 210px;
    margin-right: 10px;
  }

  .appBackground:hover ~ .basketBtn {
    display: none;
  }

  .appBackground:hover ~ .choiceLike {
    display: none;
  }

  .centeredText {
    margin-top: 50px;
  }

  .centeredText > h4 {
    width: 95%;
    font-size: 14px;
  }

  .hint {
    display: flex;
    flex-direction: column;
  }

  .hintImage {
    width: 100%;
  }

  .saleImage {
    height: 140px;
  }

  .titleWeAdd {
    display: flex;
    flex-direction: column;
  }

  .weAddPromoText {
    width: 100%;
  }

  .ownBlock {
    display: flex;
    flex-direction: column;
  }

  .ownTitle {
    height: auto;
    width: auto;
    margin: 0;
  }

  .ownImage {
    width: 100%;
  }

  .ownBtn {
    margin: 10px 0px 30px 0px;
  }

  .ownBlockReverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
