.loginContainer {
  width: 80%;
  margin: 60px auto;
}

.loginImage {
  width: 50%;
}

.loginBlock {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginUserInfo {
  display: flex;
  flex-direction: column;
  margin-right: 6%;
}

.loginUserInfo > p {
  margin: 10px 0px 0px 0px;
}

.loginItem {
  width: 100%;
  position: relative;
}

.loginLabel {
  position: absolute;
  top: 50%;
  left: 2%;
  pointer-events: none;
}

.loginItem > input:focus + .loginLabel,
.loginItem > input:valid + .loginLabel {
  top: 20%;
  transition: top 0.3s ease;
  font-size: 13px;
}

.loginItem > input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #8f8f8f;
  margin-top: 30px;
  font-size: 17px;
  outline: none;
  padding-left: 10px;
}

.loginItem > input:focus {
  border-bottom: 2px solid #1a1a1a;
}

.forgotPasswordLink {
  cursor: pointer;
  color: #8f8f8f;
  text-align: right;
  margin-top: 5px;
  text-decoration: underline;
  font-size: 14px;
}

.loginBtn {
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  background-color: #1a1a1a;
  color: #efefef;
  margin: 50px 0px 50px 0px;
}

.canRegisterBtn {
  cursor: pointer;
  border: none;
  background-color: #efefef;
  color: #1a1a1a;
  padding: 8px 15px;
  margin-top: 10px;
}

@media (min-width: 1024px) and (max-width: 1286px) {
  .loginImage {
    width: 52%;
  }

  .loginBlock {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .loginUserInfo {
    margin-right: 3%;
    margin-left: 2%;
  }
}

@media (min-width: 260px) and (max-width: 1024px) {
  .loginImage {
    width: 52%;
  }

  .loginBlock {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
