.passwordContainer {
  width: 80%;
  margin: 60px auto;
}

.passwordImage {
  width: 52%;
}

.passwordBlock {
  width: 93%;
  display: flex;
  justify-content: space-between;
}

.passwordUserInfo {
  width: 37%;
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  margin-top: 50px;
}

.passwordUserInfo > p {
  margin: 10px 0px 0px 0px;
}

.passwordUserInfo > input {
  border: none;
  border-bottom: 2px solid #8f8f8f;
  margin-top: 20px;
  font-size: 17px;
  outline: none;
  padding-left: 10px;
}

.passwordUserInfo > input:focus {
  border-bottom: 2px solid #1a1a1a;
}

.passwordUserInfo > span {
  cursor: pointer;
  color: #8f8f8f;
  text-align: right;
  margin-top: 5px;
  text-decoration: underline;
  font-size: 14px;
}

.passwordBtn {
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  background-color: #1a1a1a;
  color: #efefef;
  margin: 30px 0px 50px 0px;
}

.canLoginBtn {
  cursor: pointer;
  border: none;
  background-color: #efefef;
  color: #1a1a1a;
  padding: 8px 15px;
  margin-top: 10px;
}

.codeInput > div > input {
  border: none;
  outline: none;
  color: #1a1a1a;
  margin-top: 30px;
}

.codeInput > div > input:focus {
  border: none;
  outline: none;
  caret-color: #1a1a1a;
}

.codeInput > div > input:last-child {
  border: none;
}

@media (min-width: 260px) and (max-width: 1024px) {
  .passwordBlock {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .passwordUserInfo {
    width: auto;
  }

  .passwordBtn {
    width: 241px;
  }
}
