.contactsContainer {
  width: 80%;
  margin: 0 auto;
}

.contactTitle {
  margin: 50px 0px 50px 0px;
}

.contactsBlock {
  width: 93%;
  display: flex;
  justify-content: space-between;
}

.firstContactBlock,
.secondContactBlock {
  line-height: 30px;
}

.social {
  cursor: pointer;
  text-decoration: underline;
}

.infoIndent {
  margin: 30px 0px 30px 0px;
}

.contactInpBlock {
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.contactInpBlock > input {
  padding-left: 15px;
}

.contactsBlockElem {
  display: flex;
  justify-content: space-between;
}

.contactInp {
  height: 40px;
  width: 48%;
  padding-left: 15px;
}

.phoneInp {
  height: 45px;
  margin: 15px 0px 15px 0px;
}

.commitInp {
  height: 130px;
  padding-bottom: 16%;
}

.sendBtnContainer {
  width: 40vw;
  display: flex;
  justify-content: center;
}

.sendMessageContact {
  cursor: pointer;
  border: none;
  background-color: #1a1a1a;
  color: #efefef;
  padding: 8px 15px;
  margin: 30px;
}

@media (min-width: 1024px) and (max-width: 1286px) {
  .secondContactBlock {
    margin-left: 30px;
    margin-right: 25px;
  }
}

.conectionsColumn {
  display: flex;
  flex-direction: column;
}

@media (min-width: 488px) and (max-width: 1024px) {
  .allBlocks {
    display: flex;
  }

  .contactsBlock {
    display: flex;
    flex-direction: column;
  }

  .secondContactBlock {
    margin-left: 30px;
    margin-right: 25px;
  }
}

@media (min-width: 260px) and (max-width: 488px) {
  .allBlocks {
    display: flex;
    flex-direction: column;
  }

  .contactsBlock {
    display: flex;
    flex-direction: column;
  }

  .secondContactBlock {
    margin-right: 25px;
  }

  .contactsBlockElem {
    display: flex;
    flex-direction: column;
  }

  .contactInpBlock {
    width: 100%;
  }

  .contactInp {
    width: 100%;
  }

  .contactInp:first-child {
    margin-bottom: 15px;
  }

  .sendBtnContainer {
    width: auto;
  }

  .sendMessageContact {
    width: 100%;
    margin: 15px 0px 15px 0px;
  }
}
