.contactsContainer {
  width: 80%;
  margin: 0 auto;
}

.contactTitle {
  margin: 50px 0px 50px 0px;
}

.contactsBlock {
  width: 93%;
  display: flex;
  justify-content: space-between;
}

.firstContactBlock,
.secondContactBlock {
  line-height: 30px;
}

.social {
  cursor: pointer;
  text-decoration: underline;
}

.infoIndent {
  margin: 30px 0px 30px 0px;
}

.contactInpBlock {
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.contactInpBlock > div > input {
  padding-left: 15px;
}

.contactsBlockElem {
  display: flex;
  justify-content: space-between;
}

.formItem {
  position: relative;
  width: 50%;
}

.formItemDown {
  width: 99%;
}

.contactLabel {
  position: absolute;
  top: 25%;
  left: 16px;
  pointer-events: none;
}

.contactLabelCall {
  position: absolute;
  top: 35%;
}

.contactLabelCommit {
  position: absolute;
  top: 15%;
}

.contactInp {
  height: 50px;
  width: 98%;
  padding-left: 15px;
}

.phoneInp {
  width: 100%;
  height: 50px;
  margin: 15px 0px 15px 0px;
}

.commitInp {
  width: 100%;
  height: 130px;
  padding-bottom: 11%;
}

.formItem > input:focus + .contactLabel,
.formItem > input:valid + .contactLabel {
  top: 0;
  transition: top 0.3s ease;
  font-size: 13px;
}

.formItem > input:focus + .contactLabelCall {
  top: 19%;
}

.formItem > input:focus + .contactLabelCommit {
  top: 5%;
}

.sendBtnContainer {
  width: 40vw;
  display: flex;
  justify-content: center;
}

.sendMessageContact {
  cursor: pointer;
  border: none;
  background-color: #1a1a1a;
  color: #efefef;
  padding: 8px 15px;
  margin: 30px;
}

@media (min-width: 1024px) and (max-width: 1286px) {
  .secondContactBlock {
    margin-left: 30px;
    margin-right: 25px;
  }
}

.conectionsColumn {
  display: flex;
  flex-direction: column;
}

@media (min-width: 488px) and (max-width: 1024px) {
  .allBlocks {
    display: flex;
  }

  .contactInpBlock {
    width: 100%;
  }

  .contactsBlock {
    display: flex;
    flex-direction: column;
  }

  .secondContactBlock {
    margin-left: 30px;
    margin-right: 25px;
  }
}

@media (min-width: 260px) and (max-width: 488px) {
  .allBlocks {
    display: flex;
    flex-direction: column;
  }

  .commitInp {
    padding-bottom: 20%;
  }

  .formItem > input:focus + .contactLabelCommit {
    top: 5%;
  }

  .contactsBlock {
    display: flex;
    flex-direction: column;
  }

  .secondContactBlock {
    margin-right: 25px;
  }

  .contactsBlockElem {
    display: flex;
    flex-direction: column;
  }

  .contactInpBlock {
    width: 100%;
  }

  .formItem {
    width: 100%;
  }

  .contactInp {
    width: 100%;
  }

  .contactInp:first-child {
    margin-bottom: 15px;
  }

  .sendBtnContainer {
    width: auto;
  }

  .sendMessageContact {
    width: 100%;
    margin: 15px 0px 15px 0px;
  }
}
